body{
    padding-left: 20%;
    padding-right: 20%;
    padding:50px 20%;
}

h1,h2,h3,b,strong {
    color:plum;
}

h1,h3{
    text-align: center;
}
h2 {
    text-align: right;
    border-bottom:lightslategray solid 1px;
}
p{
    font-family: Georgia,Serif;
    color: darkslategray;
    text-align: justify;
    font-style: italic;
}

hr {
    border-bottom: lightslategray dotted thin;
    width: 50%;
}

h1{
    text-transform: uppercase;
}

#number1-achievement{
    color: red;
}
div p{
    font-style: normal;
    color: deeppink;
}